
.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #2f80ed;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    // margin-right: 8px;
  }
  .center{
    text-align: center;
  }
  
  